body {
    padding: 0;
    padding-top: 56px;
    background: linear-gradient(to bottom, #87CEEB, #ecf0f1);
    animation: gradientAnimation 5s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

footer {
    margin-top: 20px;
    background: #3498db;
    padding: 15px;
    text-align: center;
    width: 100%;
    color: #fff;
}

nav.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #3498db;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    background: #3498db;
}
nav a:hover {
    background: #2980b9;
    text-decoration: none;
    color: white;
}

@media (max-width: 767px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;

    }

    nav li {
        margin-bottom: 10px;
    }
}
.navbar-toggler {
    border: none;
    background: transparent;
    color: white;
}
.navbar-collapse {
    padding: 10px;
    background-color: #d4eeff;
    border-radius: 5px;
}

body {
    margin-top: 56px;
}

.navbar-toggler {
    border: none;
    background: transparent;
    color: white;
}

.navbar-collapse {
    padding: 10px;
}

section {
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.main {
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 70px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    text-align: center;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #3498db;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: Verdana;
}

h2 {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    color: #3498db;
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    border-radius: 50%;
}

.profile-pic {
    border: 5px solid #3498db;
}

.container, .technical-skill {
    background-color: #3498db;
    border: 15px #3498db;
    padding: 10px;
    margin: auto;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 100%;
    display: block;
}

.technical-skills {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
 }
 .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
 }
 .technical-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3498db;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
 }
 .skill-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
 }

form {
    background: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

form button {
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #2980b9;
}

.contact-info {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#downloads {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#downloads button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}

#downloads button:hover {
    background: #2980b9;
}

#social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#social-links a {
    margin: 0 10px;
    text-decoration: none;
}

#social-links img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transition: transform 0.3s ease;
}

#social-links img:hover {
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}

form input {
    margin: 10px;
}

form textarea {
    margin: 10px;
    resize: none;
}